<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="UTF-8">
    	<link rel="stylesheet" type="text/css" href="static/css/upload.css">
    	<!-- icon of tab -->
    	<link rel="shortcut icon" type="image/x-icon" href= "{{ url_for('static',filename='img/favicon.ico') }}">
    	<!-- name of tab -->
    	<title>Syllabus</title>
	</head>
	<body>
		<!-- background image -->
		<div class="background">
			<div class="text">
				<!-- text on page -->
				<h1>You got to this page!</h1>
			</div>
		</div>
	</body>
</html>